.article-head{
    margin-block-start: 1.25em;
    font-size: 2.5rem;
}

div.rich-text p,h1,h2,h3,h4,h5{
    line-height: 1.5em;
    margin-bottom: 1rem;
}
div.rich-text img {
    width: 100%;
    height: auto;
}

#time{
    color: $light-gray;
    font-size: 0.8rem;
}