@import "../node_modules/bootstrap/scss/bootstrap";

$purple: #995FA3;
$light-purple: #A471AD;
$light-gray: #5F5858;
$soft-white: #FFFFFF;
$dark-gray: #353131;
$orange: #B1740F;

.btn-outline-light {
    font-weight: 600;
    color: $soft-white;
    border-color: $soft-white;
    @include button-outline-variant($soft-white, $purple, $soft-white, $soft-white);
}

.btn-outline-thematic {
    font-weight: 600;
    color: $soft-white;
    border-color: $soft-white;
    @include button-outline-variant($purple, $soft-white, $purple, $purple);
}

.btn-thematic {
    font-weight: 600;
    color: $soft-white;
    border-color: $soft-white;
    @include button-variant($purple, $soft-white);
}
.btn-light{
    font-weight: 600;
    color: $purple;
    border-color: $purple;
    @include button-variant($purple, $purple);
}

.color-dark{
    color: $dark-gray;
}
.color-orange{
    color: $orange;
}
.color-purple{
    color: $purple;
}
.color-white{
    color: $soft-white;
}
.text-soft{
    font-weight: 300;
}
.btn-social{
    background-color: $soft-white;
}
.bg-darkgray {
    background-color: $dark-gray;
}
.bg-lightgray {
    background-color: $light-gray;
}
.bg-purple {
    background-color: $purple;
}
.bg-linear-purple{
    background-image: linear-gradient($purple, $light-purple);
}
ul.clean {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.btn-social-icon{
    font-size: 1em;
}
hr {
    border: 0;
    border-top: 1px solid $soft-white;
  }