*, ::after, ::before {
    box-sizing: border-box;
}
.container {
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 24px;
  margin-bottom: 24px;
}
.content h1{
  display: block;
  font-size: 35px;
  font-family: "Helvetica";
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #353131;
  margin-block-end: 0em;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.rich-text p{
  font-size: 17px;
  font-family: Georgia, serif;
  color: #333;
  font-weight: 400;
  word-wrap: normal;
  max-width: 100%;
  line-height: 29px;
}

#time{
  color: #767676;
  font-size: 12px;
  margin-block-start: 0px;
}
.img-fit{
  max-width:70%;
  max-height:70%;
}
