@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  margin: 0px;
  text-align: left;
  font-family: 'open sans';
}
.fixed-top{
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 6969;
}
.navbar{
      background-color: #995FA3;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-top: 0.5rem;
      padding-right: 1rem;
      padding-bottom: 0.5rem;
      padding-left: 1rem;
}

.header-back{
  background-color: #995FA3;
  color: #c9c9c9;
  width: 100%;
  padding: 0px;
}

a{
  text-decoration: none;
  background-color: transparent;
}

a.navbar-brand{
  color: #EBEBEB;
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  line-height: inherit;
  white-space: nowrap;
  font-family: Roboto;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0.25em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
}

.align-middle{
  vertical-align: middle!important;
}
.navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

a.nav-link {
    display: block;
    padding-top: 0.25rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-weight: 500;
    font-size: 1rem;
    color: #EBEBEB;
}
a.nav-transition{
  color: #EBEBEB;
  transition: color 0.2s ease-in-out;
}
a.nav-link:hover{
  color: #83B6C3;
}
a.sub-nav-link{
  color:#5F5858;
  transition: color 0.2s ease-in-out;
}
a.sub-nav-link:hover{
  color: #83B6C3;
}

.parallax {
  background-image: url("media/parallax2020.png");

  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #c7ecee;
  margin-bottom: 0;
  border-radius: 0;
}
.header{
    min-height: 700px;
}
.info-div{
  height:1000px;
  background-color: white;
  color: #5F5858;
  border-color: white;
  font-family: "roboto";
  z-index: 12;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin: 0px;
}

.superimp-light{
  color: #EBEBEB;
  font-family: "roboto";
  margin-top: 0;
  z-index: 1;
  margin-bottom: 1rem;
}

.parallax-text-block{
  padding: 0rem;
  margin: 0.0rem;
  margin-right: 1.5rem;
  float: right;
  top: 8rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0.0);
}

h1.superimp-light{
  font-size: 3.5rem;
  line-height: 1em;
  font-weight: 300;
}

h2.superimp-light{
  font-size: 3.5rem;
  line-height: 1em;
  font-weight: 300;
}
h3.superimp-light{
  font-size: 2rem;
  font-weight: 300;
  line-height: 1em;
}
p.superimp-light{
  font-size: 1.5rem;
  line-height: 2em;
  font-weight: 100;
  font-family: "open sans";
}

.info-div h1 {
  font-family: "Segoe UI";
  font-size: 60px;
  font-weight: 300;
  display: block;
  text-align: center;
  margin-top: 10px;
}
.info-div h2{
  font-size: 2.5rem;
  font-weight: normal;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 0.67em;
}
p.superimp-dark{
  color: #5F5858;
}

.attrib{
  color: #5F5858;
  position: absolute;
  bottom: 5px;
  right: 15px;
}

.attrib a {
    color: #5F5858;
    text-decoration: underline;
}

.footer{
  background-color: #5F5858;
}

.footer p{
  background-color: #5F5858;
  font-size: 16px;
  font-family: "Segoe UI";
  color: #ebebeb;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #EBEBEB;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content{
  display: block;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
