{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container mb-4 mt-5">
    <div class="row pt-3">
        <div class="col">
            <h1 class="article-head">{{post.title}}</h1>
            <p class="mb-0" id="time">Published -- {{post.updated_on}} by {{post.author}}</p>
        </div>
    </div>
    <article><div class="row mb-4">
        <div class="col-md-9 left_body">
            {% if post.header_image %}
            <div class="container mb-4 ps-0">
                <img class="card-img-top" src="{{post.header_image.url}}" alt="Card image cap">
            </div>
            {% endif %}
            <div class="container mb-4 ps-0">
                <div class="rich-text">
                    {{post.content|safe}}
                </div>
            </div>
        </div>
    </div></article>
</div>
{%endblock content%}